.chat__page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__container {
  border: 2px solid;
  width: 30%;
  height: 60%;
  position: relative;
}

.roomDescriptionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid;
}

.inputBox {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2rem;
}

.inputBox > input {
  height: 100%;
  width: 90%;
  padding: 0px;
}

#sendBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  border: 1px solid;
}

.msg {
  background-color: rgb(187, 100, 81);
  width: 80%;
  min-height: 3rem;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.7rem;
}

#userName {
  font-size: 20px;
  font-weight: 600;
}

.message_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbody {
  height: 100%;
}
